body {
 background-image: url("/src/img/background.jpg");
 background-color: #B2CDE8;
 background-repeat: no-repeat;
 background-size: cover;
}

h1{
  text-align: center;
  margin:3rem;
}

.flag-container{
  display: flex;
  justify-content: space-evenly;
  margin: 5rem auto;
}

.logo-container{
  margin-bottom: 15rem;
  margin-top: 5rem;
}

.logo{
  margin-left: 20%;
  margin-top: 10%;
}
.itflag{
  width:150%;
  margin: 3% auto;
}
.enflag{
  width:150%;
  margin:3% auto;
}