body {
 background-image: url("/src/img/background.jpg");
 background-color: #cccccc;
 background-repeat: no-repeat;
 background-size: cover;
}

h1{
  text-align: center;
  margin:3rem;
}
.container{
  display: flex;
  justify-content: space-evenly;

}
.logo{
  margin-left: 23rem;
}
.itflag{
  width:100px;
  height:50px;
}
.enflag{
  width:100px;
  height:50px;
}