h1{
  text-align: center;
  margin:3rem;
  font-size: 4rem;
}
p{
  text-align: center;
  font-size: 1.5rem;
  margin-top:3rem;
  margin-bottom: 2rem;
}
.car-div{
  margin: 0 auto;
  width: 40%;
}
.container-fluid {
padding: 0;
}

.description{
  margin: 0 25rem;
}

.img-home {
  width: 35%;
  text-align: center;
  margin-top: 1rem;
}