h1{
  text-align: center;
  margin:3rem;
  font-size: 4rem;
}
p{
  text-align: center;
  font-size: 1.5rem;
  margin-top:3rem;
  margin-bottom: 2rem;
}
.car-div{
  margin: 0 auto;
  width: 40%;
}
.container-fluid {
padding: 0;
}

.description{
  background-color: #ffffff;
  border-radius: 20px;
  margin: 0 20rem 5rem 20rem;
  opacity: 0.6;
  padding: 1rem 3rem;
}

.img-home {
  width: 35%;
  text-align: center;
  margin-top: 1rem;
}