h1{
  text-align: center;
  margin:3rem;
  font-size: 4rem;
}
p{
  text-align: center;
  font-size: 2rem;
  margin-top:3rem;
}
.car-div{
  margin: 0 auto;
  width: 70%;
}
.container-fluid {
padding: 0;
}


.img-home {
  width: 35%;
  text-align: center;
  margin-top: 1rem;
}